<!doctype html>
<html>
	<head>
		<title>${title + " - example.com"}</title>
		<link rel="shortcut icon" type="image/ico" href="/images/wirejs.svg"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		${metatags}
		<script src='/layouts/default.js?v=${BUILD_ID}'></script>
	</head>
	<body>
		<div id='container'>
			<div id='header'>
				<h1>
					<a href='/'><img src='images/wirejs.svg' /> home</a> / ${title || "example.com"}
				</h1>
			</div>
			<div class='navbar'><tpdc:menu></tpdc:menu></div>
			<div id='content'>
				${body}
			</div>
			<tpdc:teaser></tpdc:teaser>
		</div>
		<div id='footer'>
			<div id='sub-footer'>
				Do only awesome things.
			</div>
		</div>

		<!-- diagrams rendering for markdown files -->
		<script type="module">
			import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs';
			[...document.body.getElementsByClassName('language-mermaid')]
				.forEach(node => {
					node.classList.add('mermaid');
				});
			mermaid.init({});
		</script>

	</body>
</html>
